/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/

/**
 * Four Column Layout (Including Utility) Styles 
 */
 
#main-content {
	width: 720px;
	padding: 0px 0px 0px 0px;
	margin-right: 0px;
}

#utility {
	width: 160px;
	background-color: #F2F2F2;
}
 
.column {
	float: left;
	width: 160px;
	padding: 30px 30px 30px 30px;
	background-color: #F2F2F2;
}
 
.primary,
.secondary,
.tertiary {
	margin-right: 20px;
}