/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/


/**
 * Styles for The Box overlay
 **/

.box-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 11;
	opacity: 0.4;
	filter: alpha(opacity=40);
	background-color: #000000;	
}

.box-container {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 12;
}

.box-element {
	position: absolute;
}

.box-close-button:hover {
	text-decoration: underline;
}

.box-container .controls .previous {
	float: left;
}

.box-container .controls .next,
.box-container .controls .submit {
	float: right;
	margin-right: 0px;
}

.box-container .controls .next,
.box-container .controls .previous,
.box-container .controls .submit {
	margin-bottom: 14px;
}

.box-content p {
	font-size: 14px;
	margin-bottom: 10px;
}

.box-container ul li {
	line-height: 2em;
}

#back-to-form {
	background-position: -156px -312px;
	width: 50px;
	height: 11px;
}

#back-to-form:hover {
	background-position: -156px -324px;
}