body {
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 10pt;
}

#main-header {
	background-color: #000;
	background-image: url("/resource/image/background.png?v=@VERSION-NUMBER@");
	height: 150px;
}

#main-header .container {
	width: 1050px;
	margin: 0 auto;
	min-height: 100%;
}

#main-header .container hgroup {
	float: left;
	padding-top: 50px;
}

#main-header .container h1 {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -114px 0;
	display: block;
	height: 66px;
	width: 268px;
}

#main-header .container h1 span {
	display: block;
	height: 100%;
}

#main-header .container h1 a {
	display: block;
	height: 100%;
}

#main-header .container h1 span {
	display: none;
}

#main-header .utility {
	position: absolute;
	margin-left: 674px;
	width: 368px;
	padding-top: 22px;
}

#main-header .utility .upper {
	float: left;
	width: 390px;
	height: 20px;
}

#main-header .utility .lower {
	padding-top: 10px;
	float: left;
	width: 375px;
}

#main-header .utility .login-widget {
	float: left;
	width: 190px;
	text-align: right;
	padding-right: 7px;
}

#main-header .utility .login-widget a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#main-header .utility .share {
	float: right;
	width: 192px;
}

#main-header .utility .twitter {
	float: left;
	width: 96px;
	padding-right: 5px;
}

#main-header .utility .facebook {
	float: right;
	margin: 1px 8px 15px 0;
	height: 20px;
}

#main-header .utility .lower .app-store {
	float: right;
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -114px -67px;
	display: block;
	height: 45px;
	width: 140px;
	text-indent: -9999px;
}

#main-content {
	padding-top: 10px;
	width: 1050px;
	margin: 0 auto;
	min-height: 500px;
	color: #000;
}

#main-content .navigation {
	padding-left: 701px;
	position: absolute;
	top: 116px;
}

#main-content .navigation li {
	float: left;
	padding-right: 5px;
	width: 113px;
	height: 36px;
}

#main-content .navigation li:last-child {
	padding-right: 0px !important;
}

#main-content .navigation li a {
	text-align: center;
	color: #3c3c3c;
	font-weight: bold;
	text-decoration: none;
	
	width: 113px;
	height: 23px;
	padding-top: 11px;
	display: block;
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat 0 -127px;
}

/*
#main-content .navigation li a span {
	padding-left: 5px;
}
*/

#main-content .navigation li a:hover, #main-content .navigation li a.selected {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat 0 -93px;
	
}

#main-content .breadcrumb {
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #6e6e6e;
}

#main-content .breadcrumb a {
	font-weight: bold;
	color: #6e6e6e;
}

#main-content .breadcrumb hr {
	display: block;
	height: 22px;
	color: #272727;
	background-color: #272727;
}
/*
 * GAWK WALL VIEW
 */
 
#wall-view div.record-gawk {
	padding-right: 10px;
}
 
#wall-view a.record {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat 0 0;
	width: 114px;
	height: 31px;
	display: block;
	text-indent: -9999px;
}
#wall-view a.record:hover { background-position: 0 -31px; }
#wall-view a.record:active { background-position: 0 -62px; }

#wall-view #gawk-swf {
	margin-top: 10px;
}

#wall-view .wall-information h3 {
	font-size: 15px;
	font-weight: bold;
}

#wall-view .wall-information .description {
	font-size: 13px;
	font-family: Arial, Sans-serif;
	color: #6e6e6e;
}

#wall-view .wall-select {
	color: #3c3c3c;
}
	
#wall-view .wall-select select{
	padding: 5px; 
	margin-left: 5px;
}

/**
 * Footer
 */
 
#footer {
	background: url("/resource/image/background.png?v=@VERSION-NUMBER@") 0 -65px;
	height: 60px;
	margin-top: 50px;
	padding-top: 5px;
}

#footer #social a {
	color: #fff;
	text-decoration: none;
}

#footer #social ul {
	width: 400px;
	margin: 0 auto;
}
#footer #social li {
	text-align: center;
	float: left;
	display: block;
	font-size: 12px;
	padding: 0 10px 0 10px;
}

/**
 * Overlays
 */
div.overlay {
	margin: 50px; color: #000;
}
div.overlay a{
	font-weight: bold;
}
div.overlay h3 {
	font-size: 20px;
	padding-bottom: 20px;
}

#login-overlay {
	font-size: 18px;
}