/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/

/**
 * Global Styles
 */

body {
	background-color: #FFFFFF;
	padding-top: 50px;
}

#container {
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 0px 10px #999999;
	-webkit-box-shadow: 0px 0px 10px #999999;
	box-shadow: 0px 0px 10px #999999;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:1050px;
	height:780px;
}

#social {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:310px;
	padding-top: 20px;
}

#wrapper {
}

/**
 * Header
 */

#main-header {
	background-image: url("/resource/image/sprite.gif?v=@VERSION-NUMBER@");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	width: 1050px;
	height: 100px;
}

#main-header hgroup {
	float: left;
	color: #000000;
	padding: 15px 30px 28px 30px;
}

#main-header  h1 {
	font-size: 28px;
	margin-bottom: 6px;
	text-shadow: 1px 1px 1px #ACACAC;
}


/* Accessibility Options */

#accessibility-options {
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	background-color: #EAEAEA;
	border: 1px solid #EFEFEF;
}

#accessibility-options h3 {
	margin-bottom: 5px;
}

#accessibility-options .skip-to-links {
	display: none;
}


/**
 * Main Navigation
 */

#navigation {
	background-image: url("/resource/image/sprite.gif?v=@VERSION-NUMBER@");
	background-position: 0px -100px;
	background-repeat: repeat-x;
}

#navigation ul {
}

#navigation li {
	float: left;
	display: inline;
	margin: 0px 20px 0px 0px;
}

#navigation a {
	white-space: nowrap;
	padding: 4px 10px 4px 10px;
}

#navigation a:hover,
.home #navigation .menu-home a,
.news #navigation .menu-news a,
.blog #navigation .menu-blog a,
.gallery #navigation .menu-gallery a,
.contact #navigation .menu-contact a,
.account #navigation .menu-account a {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}


/**
 * Main Content
 */

#main-content {
}


/**
 * Utility
 */

#utility h2 {
	margin-bottom: 15px;
}


/**
 * Footer
 */

#footer {
	background-color: #EAEAEA;
}

#footer ul {
	text-align: center;
}

#footer li {
	display: inline;
}

#footer li a {
	padding: 0px 5px 0px 5px;
}


/**
 * Styles for generic HTML elements
 */

a {
	color: #000000;
}

em {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
	font-style: italic;
}

h1 {
	font-size: 18px;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
}

address {
	line-height: 1.4em;
	margin-bottom: 20px;
}

/* Main Content */

/* h1 */

#main-content h1 {
	text-indent: -9999em;
	height: 0px;
	margin-bottom: 0px;
}

/* h2 */

#main-content h2 {
	margin-bottom: 15px;
}

#main-content h2 a {
}

/* h3 */

#main-content h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

/* h4 */

#main-content h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

/* p, ul, li,  */

#main-content p {
	margin-bottom: 10px;
	line-height: 1.4em;
}

#main-content ul {
	margin-bottom: 15px;
}

#main-content li {
	margin-bottom: 3px;
	line-height: 1.4em;
	list-style: disc;
	list-style-position: inside;
}


/**
 * When a:hover has a background colour, use this .image-link class so
 * that <img> tags surrounded by <a></a> tags will not have a background
 * color on hover, and will have the following properties
 */

.image-link:hover {
	background: none;
}

.image-link img {
}

.image-link img:hover {
}


/**
 * repeated 'article/item' item types (usually encompassing .image and .text)
 */

.article,
.search-result,
.blog-entry,
.download-item,
.store-item,
.client {
}

.image {
}

.image img {
}

.text {
}

.text p.summary {
}

.text p.date {
}

.text p.comments {
}

/* article comments */

#comments {
	clear: both;
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
}

#comments textarea {
}

#comments .comment {
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 1px 10px;
	background-color: #ECECEC;
	min-height: 60px;
}

#comments .comment img {
	float: left;
	margin: 0px 10px 10px 0px;
}

#comments .comment .controls {
	clear: both;
}

#comments #post-comment .controls {
}

/* .multipage-controls */

#main-content .multipage-controls {
	margin: 0px 0px 0px 0px;
	float: left;
}

#main-content .multipage-controls a,
#main-content .multipage-controls select.page_length {
}

#main-content .multipage-controls a {
	margin: 0px 2px 0px 1px;
	padding: 3px 6px 3px 6px;
	text-decoration: none;
	font-weight: normal;
}

#main-content .multipage-controls a,
#main-content .multipage-controls select.page_length {
	border: 1px solid #808026;
	color: #000000;
}

#main-content .multipage-controls a:hover {
	text-decoration: none;
	background-color: #E8E8C8;
}

#main-content .multipage-controls .currentpage,
#main-content .multipage-controls .currentpage:hover {
	background-color: #CACA9E;
}

#main-content .multipage-controls span {
	display: none;
}

#main-content .multipage-controls .page_length {
	margin: 0px 0px 0px 6px;
	width: 50px;
}


/**
 * Custom Selectors
 */

/* Layout */

.header {
}

.footer {
}

.panel {
}

.column {
}


/* Content Types */

.assistance {
}

.page-description {
}

.description {
}

.error {
	color: #FF0000;
}

.explanation {
}

.question {
}

.answer {
}

.summary {
}

.warning {
}

.reference {
}

.date {
}

/* Specific Content Types */

.signature {
}

.copyright {
}

.disclaimer {
}

.caption {
}

.foot-note {
}

/* Navigation Aids */

.breadcrumb {
}

.navigation {
}

.progress {
}

.action {
}

.direction {
}

.anchor {
	display: none;
}

/* States */

.pinned {
}

.current {
}

.selected {
}

/* Ranks and Numerical Orders */

.primary {
}

.secondary {
}

.tertiary {
}

.single {
}

.double {
}

.triple {
}

.first {
}

.last {
	margin-right: 0px;
}

.odd {
}

.even {
}

/* Clear Floats */

.clear-float {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}


/**
 * Icons
 */

#main-content .download {
	background-repeat: no-repeat;
	background-position: 5px 8px;
	padding: 13px 10px 8px 0px;
}

#main-content fieldset .download {
	margin: 20px 10px 20px 200px !important;
}

dl .download {
	margin: 10px 0px 10px 0px;
}

.download a {
	padding: 3px 0px 22px 62px !important;
	margin: 0px 0px 0px 0px;
	display: block;
	position: relative;
}

.download a:hover {
	background: none !important;
	color: #000000 !important;
}

.download a em {
	text-decoration: none;
	font-size: 10px;
	margin-left: 3px;
}

.download span {
	display: block;
	padding: 0px 0px 0px 62px;
	margin: -23px 0px 0px 0px;
}

/* Document-Relevant Icon Graphics */

.download-pdf {
	background-image: url("/resource/image/icon/icon-pdf.gif?v=@VERSION-NUMBER@");
}

.download-ai {
	background-image: url("/resource/image/icon/icon-ai.gif?v=@VERSION-NUMBER@");
}

.download-doc {
	background-image: url("/resource/image/icon/icon-doc.gif?v=@VERSION-NUMBER@");
}

.download-gif {
	background-image: url("/resource/image/icon/icon-gif.gif?v=@VERSION-NUMBER@");
}

.download-html {
	background-image: url("/resource/image/icon/icon-html.gif?v=@VERSION-NUMBER@");
}

.download-jpg {
	background-image: url("/resource/image/icon/icon-jpg.gif?v=@VERSION-NUMBER@");
}

.download-mov {
	background-image: url("/resource/image/icon/icon-mov.gif?v=@VERSION-NUMBER@");
}

.download-mp3 {
	background-image: url("/resource/image/icon/icon-mp3.gif?v=@VERSION-NUMBER@");
}

.download-mpeg {
	background-image: url("/resource/image/icon/icon-mpeg.gif?v=@VERSION-NUMBER@");
}

.download-png {
	background-image: url("/resource/image/icon/icon-png.gif?v=@VERSION-NUMBER@");
}

.download-ppt {
	background-image: url("/resource/image/icon/icon-ppt.gif?v=@VERSION-NUMBER@");
}

.download-psd {
	background-image: url("/resource/image/icon/icon-psd.gif?v=@VERSION-NUMBER@");
}

.download-rar {
	background-image: url("/resource/image/icon/icon-rar.gif?v=@VERSION-NUMBER@");
}

.download-tiff {
	background-image: url("/resource/image/icon/icon-tiff.gif?v=@VERSION-NUMBER@");
}

.download-txt {
	background-image: url("/resource/image/icon/icon-txt.gif?v=@VERSION-NUMBER@");
}

.download-wav {
	background-image: url("/resource/image/icon/icon-wav.gif?v=@VERSION-NUMBER@");
}

.download-wma {
	background-image: url("/resource/image/icon/icon-wma.gif?v=@VERSION-NUMBER@");
}

.download-wmv {
	background-image: url("/resource/image/icon/icon-wmv.gif?v=@VERSION-NUMBER@");
}

.download-xls {
	background-image: url("/resource/image/icon/icon-xls.gif?v=@VERSION-NUMBER@");
}

.download-zip {
	background-image: url("/resource/image/icon/icon-zip.gif?v=@VERSION-NUMBER@");
}

.download-csv {
	background-image: url("/resource/image/icon/icon-csv.gif?v=@VERSION-NUMBER@");
}

.download-default {
	background-image: url("/resource/image/icon/icon-default.gif?v=@VERSION-NUMBER@");
}