@font-face {
    font-family: 'BreeRegular';
    src: url('/resource/font/breeregular-webfont.eot');
    src: url('/resource/font/breeregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resource/font/breeregular-webfont.woff') format('woff'),
         url('/resource/font/breeregular-webfont.ttf') format('truetype'),
         url('/resource/font/breeregular-webfont.svg#BreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BreeLight';
    src: url('/resource/font/breelight-webfont.eot');
    src: url('/resource/font/breelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resource/font/breelight-webfont.woff') format('woff'),
         url('/resource/font/breelight-webfont.ttf') format('truetype'),
         url('/resource/font/breelight-webfont.svg#BreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
}

#container {
}

#wrapper {
	background: url("/resource/image/background-noise.png?v=@VERSION-NUMBER@");
}

#main-content {
	border: 1px #e5e3e2 solid;
	width: 1072px;
	margin: 27px auto 20px auto;
}

#title-area {
	height: 47px;
	background: url("/resource/image/background-title-area.png?v=@VERSION-NUMBER@");
	padding: 7px 11px 11px 11px;
}

#title-area .breadcrumb {
	padding-top: 12px;
	color: #434444;
	float: left;
}

#title-area .breadcrumb a {
	color: #434444;
}

#title-area .breadcrumb a:hover {
	text-decoration: underline;
}

div.view-container {
	padding: 0px 11px 11px 11px;
	background-color: #fff;
}

#footer {
	border-top: 1px #c0bfb9 solid;
	background: #fff;
	min-height: 25px;
}

#footer .footer-container {
	width: 1072px;
	margin: 10px auto;
}

#footer .copyright {
	float: left;
	display: inline;
	width: 150px;
	color: #747474;
	font-size: 13px;
}

#footer .links {
	float: right;
	display: inline;
	width: 230px;
	font-size: 13px;
	color: #747474;
}

#footer .links span {
	padding-left: 4px;
}

#footer .links a, #footer .copyright a {
	color: #747474;
}

#footer .links a:hover, #footer .copyright a:hover {
	color: #000;
}

.share {
	margin-top: 10px;
	height: 20px;
}

.share .twitter, .share .facebook {
	float: right;
	display: block;
}

.box-close-button {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -0px -155px;	
	display: block;
	width: 65px;
	height: 28px;
	
	position: absolute;
	top: 15px;
	right: 12px;
	display: block;
	cursor: pointer;
	z-index: 1103;
}

.box-close-button:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -65px -155px;
}

.box-close-button span {
	display: none;
}

#login-overlay {
	background: url("/resource/image/login-overlay-background.png?v=@VERSION-NUMBER@");
	width: 605px;
	height: 460px;
}

#login-overlay h2 {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -140px -256px;	
	display: block;
	width: 259px;
	height: 90px;
	position: absolute;
	left: 174px;
	top: 32px;
}

#login-overlay h2 span {
	display: none;
}

#login-overlay .site-registered {
	position: absolute;
	top: 160px;
	left: 87px;
	width: 185px;
}

#login-overlay .site-registered label {
	margin-bottom: 12px;
	display: block;
}

#login-overlay .site-registered input.textbox {
	width: 157px;
	height: 20px;
	margin: 1px 0px 0px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	border-color: #DEDDDD;
	border-top-color: #DEDDDD;
	border-left-color: #DEDDDD;
	border-bottom-color: #DEDDDD;
	border-right-color: #DEDDDD;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #7D7979;
	font-size: 13px;
	padding: 5px 6px 5px 5px;
}

#login-overlay .site-registered input.textbox.error {
	border-color: red;
	border-top-color: red;
	border-left-color: red;
	border-bottom-color: red;
	border-right-color: red;
	border-top-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 2px;
}

#login-overlay .login-error {
	display: block; 
	top: -32px; 
	position: absolute; 
	color: red; 
	background-color: white; 
	width: 79px; 
	text-align: center; 
	padding: 3px; 
	left: 44px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	border-color: red;
	border-top-color: red;
	border-left-color: red;
	border-bottom-color: red;
	border-right-color: red;
	border-top-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 19px;
}


#login-overlay .site-registered strong {
	font-family: "BreeLight", "Arial", "Sans-Serif";
	color: #ffffff;
	margin-bottom: 6px;
	display: block;
	font-weight: normal;
}

#login-overlay .facebook-registered {
	position: absolute;
	top: 183px;
	left: 362px;
	width: 185px;
	margin-top: 4px;
}

#login-overlay .facebook-registered p {
	color: #ffffff;
	margin-top: 10px;
	display: block;
	width: 150px;
}

#login-overlay a.login-button {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -0px -86px;
	display: block;
	height: 34px;
	width: 96px;
	margin: 25px auto;
}

#login-overlay a.login-button:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -96px -86px;
}

#login-overlay a.login-button span {
	display: none;
}

#login-overlay .register {
	position: absolute;
	top: 383px;
	left: 178px;
	width: 250px;
}

#login-overlay .register p {
	float: left;
	font-family: "BreeLight", "Arial", "Sans-Serif";
	color: #ffffff;
	margin: 8px 15px 0px 0px;
	font-size: 16px;
	line-height: 17px;
}

#login-overlay a.register-button {
	float: left;
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -0px -120px;
	display: block;
	height: 34px;
	width: 96px;
}

#login-overlay a.register-button:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -96px -120px;
}

#login-overlay a.register-button span {
	display: none;
}

h1.page-title {
	font-family: "BreeLight", "Arial", "Sans-Serif";
	color: #575555;
	margin-bottom: 6px;
	display: block;
	font-weight: normal;
	font-size: 23px;
}

.clear-fix:after {
	clear: both;
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#logging-in-overlay, #logging-out-overlay {
	background: url("/resource/image/logging-in-background.png?v=@VERSION-NUMBER@") no-repeat;
	width: 389px;
	height: 131px;
}

#logging-in-overlay .message {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -411px 0px;
	width: 231px;
	height: 57px;
	top: 33px;
	left: 79px;
	position: absolute;
}

#logging-out-overlay .message {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -411px -57px;
	width: 231px;
	height: 57px;
	top: 33px;
	left: 79px;
	position: absolute;
}