@font-face {
    font-family: 'BreeRegular';
    src: url('/resource/font/breeregular-webfont.eot');
    src: url('/resource/font/breeregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resource/font/breeregular-webfont.woff') format('woff'),
         url('/resource/font/breeregular-webfont.ttf') format('truetype'),
         url('/resource/font/breeregular-webfont.svg#BreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BreeLight';
    src: url('/resource/font/breelight-webfont.eot');
    src: url('/resource/font/breelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resource/font/breelight-webfont.woff') format('woff'),
         url('/resource/font/breelight-webfont.ttf') format('truetype'),
         url('/resource/font/breelight-webfont.svg#BreeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
}

#container {
}

#wrapper {
	background: url("/resource/image/background-noise.png?v=@VERSION-NUMBER@");
}

#main-content {
	border: 1px #e5e3e2 solid;
	width: 1072px;
	margin: 27px auto 20px auto;
}

#title-area {
	height: 47px;
	background: url("/resource/image/background-title-area.png?v=@VERSION-NUMBER@");
	padding: 7px 11px 11px 11px;
}

#title-area .breadcrumb {
	padding-top: 12px;
	color: #434444;
	float: left;
}

#title-area .breadcrumb a {
	color: #434444;
}

#title-area .breadcrumb a:hover {
	text-decoration: underline;
}

div.view-container {
	padding: 0px 11px 11px 11px;
	background-color: #fff;
}

#footer {
	border-top: 1px #c0bfb9 solid;
	background: #fff;
}

#footer .footer-container {
	width: 1072px;
	margin: 10px auto;
}

#footer .copyright {
	float: left;
	display: inline;
	width: 150px;
	color: #747474;
	font-size: 13px;
}

#footer .links {
	float: right;
	display: inline;
	width: 230px;
	font-size: 13px;
	color: #747474;
}

#footer .links span {
	padding-left: 4px;
}

#footer .links a, #footer .copyright a {
	color: #747474;
}

#footer .links a:hover, #footer .copyright a:hover {
	color: #000;
}

.share {
	margin-top: 10px;
	height: 20px;
}

.share .twitter, .share .facebook {
	float: right;
	display: block;
}