#main-header {
	height: 50px;
	background: url("/resource/image/background.png?v=@VERSION-NUMBER@") repeat-x;
}

#main-header .container {
	width: 1072px;
	margin: 0 auto;
	min-height: 100%;
}

#main-header .container h1 {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -169px 0;
	display: block;
	height: 50px;
	width: 161px;
	float: left;
}

#main-header .container h1 span {
	display: block;
	height: 100%;
}

#main-header .container h1 a {
	display: block;
	height: 100%;
}

#main-header .container h1 span {
	display: none;
}

#main-header .utility {
	float: right; 
	display: block;
	width: 750px;
}

#main-header ul.navigation {
	width: 335px;
	float: right;
	display: inline; 
}

#main-header ul.navigation li {
	float: left;
	margin: 0px 15px 0px 15px;
	width: 75px;
	height: 50px;
	font-family: "BreeRegular", "Serif";
	font-size: 16px;
	color: #ffffff;
	display: block;
}


#main-header li a {
	color: #ffffff;
	text-align: center;
	padding-top: 14px;
	height: 36px;
}

#main-header ul.navigation li a {
	display: block;		
}

#main-header li.wide {
	width: 95px !important;
}

#main-header ul.member-navigation {
	float: right;
	display: inline; 
	margin: 16px 0px 0px 15px
}

#main-header ul.member-navigation li {
	float: left;
	margin: 0px;
	font-family: "BreeRegular", "Serif";
	font-size: 15px;
	color: #ffffff;
}

#main-header ul.member-navigation li a:hover {
	text-decoration: underline;
}

li.member a:hover {
	background: none !important;
}

#main-header li.selected, #main-header li a:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat 0px 0;
}

#main-header li.selected.wide, #main-header li.wide a:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -75px 0;
	width: 95px;
}