/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/

/**
 * Structural Styles

 * Change the values to alter the overall layout/structure of the Web site.
 * If you change the container width, you must also change other width values so the sum equals the conatiner value
 * Example - if this Web site is a three column layout, consisting of (going across - #navigation, #main-content, #utility), then the sum of these three columns must equal the width of the container
 */

body {
}

#container {
	position: relative;
	margin: 0px auto 0px auto;
	padding: 10px 10px 10px 10px;
	text-align: left;
	width: 940px;
}

#wrapper {
}

/* Main Site Header */

#main-header {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* Navigation */

#navigation {
	float: left;
	width: 900px;
	margin: 0px 0px 20px 0px;
	padding: 15px 20px 17px 20px;
}

/* Main Content */

#main-content {
	float: left;
	width: 640px;
	padding: 30px 30px 30px 30px;
	margin: 0px 20px 20px 0px;
}

/* Utility */

#utility {
	float: left;
	width: 160px;
	padding: 30px 30px 30px 30px;
	margin: 0px 0px 0px 0px;
}

/* Footer */

#footer {
	display: block;
	clear: both;
	width: 940px;
	padding: 6px 0px 6px 0px;
}


/**
 * 100% #container height fix
 * Un-comment the below so the central column (#container) is 100% of screen height.
 */

/**
html {
  height: 100%;
}
body {
  height: 100%;
}
#container {
  height: 100%;
	min-height: 100%;
}
html>body #container {
	height: auto;
}
 */