/******************************************/
/* CSS powered by clock - www.clock.co.uk */
/******************************************/

/**
 * Structural Styles

 * Change the values to alter the overall layout/structure of the Web site.
 * If you change the container width, you must also change other width values so the sum equals the conatiner value
 * Example - if this Web site is a three column layout, consisting of (going across - #navigation, #main-content, #utility), then the sum of these three columns must equal the width of the container
 */

body {
}

#container {
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 75px 0px 0px 0px;
	text-align: left;
	width: 100%;
}

#container:after {
	content: '';
	clear: both;
	display: block;
	height: 0px;
}

#wrapper {
}

/* Main Site Header */

#main-header {
}

/* Navigation */

#navigation {
}

/* Main Content */

#main-content {
	width: 940px;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 20px auto;
}

/* Utility */

#utility {
}

/* Footer */

#footer {
	position: fixed;
	bottom: 0px;
	clear: both;
	
	display: block;
	width: 100%;
	padding: 15px 0px 15px 0px;
}