.view-container {
	min-height: 638px;
}

.view-container {
	width: 1050px;
}

h2 {
	font-family: "BreeLight", "Serif";
	color: #434444;
	font-size: 16px;
	float: left;
}

p.description {
	color: #434444;
	font-family: "Arial", "Sans-serif";
	color: #868585;
	font-size: 13px;
	margin-top: 5px;
}

span.bookmark {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -156px -156px;
	display: block;
	width: 13px; 
	height: 13px;
	float: left;
	cursor: pointer;
	margin-top: 3px;
	margin-left: 5px;
}

span.bookmark.selected {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -143px -156px;
}

a.record {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat 0px -51px;
	display: block;
	height: 34px;
	width: 96px;
}

a.record:hover {
	background: url("/resource/image/sprite.png?v=@VERSION-NUMBER@") no-repeat -96px -51px;
	display: block;
	height: 34px;
	width: 96px;
}

a.record span {
	display: none;
	height: 100%;
}

div.wall-information {
	float: left;
	display: inline;
	width: 650px;
}

div.wall-controls {
	float: right;
	margin-top: 5px;
	width: 325px;
}

div.wall-controls .record-gawk {
	float: right;
	display: inline;
	width: 96px;
}

div.wall-controls .wall-select {
	float: right;
	display: inline;
}

div.wall-controls .wall-select select {
	width: 200px;
	height: 33px;
	margin: 1px 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	border-color: #DEDDDD;
	border-top-color: #DEDDDD;
	border-left-color: #DEDDDD;
	border-bottom-color: #DEDDDD;
	border-right-color: #DEDDDD;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #7D7979;
	font-size: 13px;
	padding: 5px 6px 5px 5px;
}

#gawk-main-wall-overlay {
	background: url("/resource/image/no-gawking-overlay-background.png?v=@VERSION-NUMBER@");
	width: 599px;
	height: 452px;
}

#gawk-main-wall-overlay .graphic {
	background: url("/resource/image/no-gawking-sprite.png?v=@VERSION-NUMBER@") no-repeat 0px 0px;
	display: block;
	position: absolute;
	width: 272px;
	height: 146px;
	left: 153px;
}

#gawk-main-wall-overlay h3 {
	font-family: "BreeRegular";
	color: white;
	font-size: 20px;
	position: absolute;
	display: block;
	top: 159px;
	left: 184px;
}

#gawk-main-wall-overlay p {
	font-family: "BreeLight", "Arial";
	color: white;
	font-size: 15px;
	position: absolute;
	display: block;
	top: 215px;
	left: 96px;
	width: 417px;
	text-align: center;
}

#gawk-main-wall-overlay p strong {
	font-family: "BreeLight", "Arial";
	font-weight: normal;
	font-size: 16px;
}

#gawk-main-wall-overlay .options {
	width: 350px;
	height: 100px;
	position: absolute;
	left: 130px;
	top: 305px;
}

#gawk-main-wall-overlay a span {
	display: none;
}

#gawk-main-wall-overlay a.pick-another {
	background: url("/resource/image/no-gawking-sprite.png?v=@VERSION-NUMBER@") no-repeat -1px -147px;
	width: 170px;
	height: 63px;
	display: block;
	float: left;
}

#gawk-main-wall-overlay a.create-wall {
	background: url("/resource/image/no-gawking-sprite.png?v=@VERSION-NUMBER@") no-repeat -169px -147px;
	width: 170px;
	height: 63px;
	display: block;
	float: left;
}